:root {
  /* --hot-pink: #ff0081; */
  --hot-pink: #ED7253;
  --purple: #5368e0;
  --light-purple: #8c6ff7;
  --search-bg: #f2f2f2;
  --lime-green: #A4E053;
  --xls-icon: #146c43;
  --xlsx-icon: #146c43;
  --pptx-icon: #ee6c45;
  --pdf-icon: #dc3545;
  --csv-icon: #146c43;
  --md-icon: #5368e0;
  --docx-icon: #0d6efd;
  --numbers-icon: #63ee56;
  --pages-icon: #fd9920;
  --txt-icon: #5368e0;
  --key-icon: #1e88f5;
  --bs-success: #198754;
  --bs-code-color: #d63384;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
}

/* html,
body {
  overflow: hidden !important;
  background: -webkit-linear-gradient(to right, #E9E4F030, #D3CCE330);
  background: linear-gradient(to right, #E9E4F030, #D3CCE330);
} */
 
.max-w-screen {
  max-width: 100vw !important;
}

html, body {
  height: 100vh !important;
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  text-align: left;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.bg-success {
  background-color: var(--bs-success) !important;
}

.d-none {
  display: none;
}

code {
  color: #d63384;
  font-family: monospace;
  font-size: 0.875em;
  word-wrap: break-word;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0 !important;
  margin-bottom: 0.5rem !important;
  font-weight: 500 !important;
  line-height: 1.2 !important;
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw) !important;
}
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem !important;
  }
}

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw) !important;
}
@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 2rem !important;
  }
}

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw) !important;
}
@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 1.75rem !important;
  }
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw) !important;
}
@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1.5rem !important;
  }
}

h5, .h5 {
  font-size: 1.25rem !important;
}

h6, .h6 {
  font-size: 1rem !important;
}

p {
  margin-top: 0 !important;
  margin-bottom: 1rem !important;
}

ol, ul {
  padding-left: 2rem !important;
}

ol, ul, dl {
  margin-top: 0 !important;
  margin-bottom: 1rem !important;
}

ol ol, ul ul, ol ul, ul ol {
  margin-bottom: 0 !important;
}

.purple {
  color: var(--purple) !important;
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
  -webkit-user-drag: none;
}

.disable-interaction {
  user-select: none;
  pointer-events: none;
}

.cursor-default {
  cursor: default;
}

.grayscale {
  /* filter: grayscale(.7); */
  color: gray;
}

.border-hover-purple:hover {
  border-color: var(--purple) !important;
}

.hover-purple:hover {
  color: var(--purple) !important;
}

.text-underline {
  text-decoration: underline;
}

.page-icon {
  color: var(--hot-pink);
  font-size: xxx-large;
}

/* Styles that Svelte would mark as unused because they are meant for child components */
.selected i {
  color: white !important;
}

.w-90 {
  width: 90% !important;
}

.br-0 {
  border-radius: 0 !important;
}

.spin-right {
  transform-origin: 50% 50%;
  animation: spin-right-animation 3s linear 0s infinite normal both running;
}

@keyframes spin-right-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeout {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

@keyframes breathing-circle {
  0% {
    transform: scale(1);
    border-radius: 67% 33% 63% 37% / 46% 32% 68% 54%;
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    opacity: 0.7;
  }
  41% {
    transform: scale(1.4);
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    opacity: 0.9;
  }
  49% {
    transform: scale(1.4);
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    opacity: 0.92;
  }
  90% {
    transform: scale(1);
    border-radius: 67% 33% 63% 37% / 46% 32% 68% 54%;
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    border-radius: 67% 33% 63% 37% / 46% 32% 68% 54%;
    opacity: 0.7;
  }
}

.text-interaction {
  cursor: text;
  user-select: text;
  -webkit-user-select: text;
}

.bg-code-pink {
  background: var(--bs-code-color) !important;
}

.code-pink {
  color: var(--bs-code-color) !important;
}

.disabled-gray {
  background: var(--bs-gray) !important;
  color: white;
  &:hover {
    cursor: not-allowed !important;
  }
}

/* #bmac-btn-coffee-icon:hover {
  animation: headShake;
  animation-duration: 2s;
} */

/* banded table rows */
tbody > div:nth-of-type(2n + 1) > tr:not(.selected) > td {
  /* background-color: #d3d3d340; */
  background-color: hsl(var(--muted) / var(--tw-bg-opacity));
}